{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 style="color: #f1cc0c;"><strong>The TripleAJ Backend</strong></h1>
        <div class="row">
            <div class="col-6" style="background-color: #222222;">
                <div class="card" style="background-color: #222222; border-radius: 30px;">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/TripleAJArcade-lowres.png') }}" alt="TripleAJ Logo" style="position: relative; width: 75%; left: 12.5%; padding: 15px; border-radius: 30px;">
                    <div class="card-body" style="color: white; border-radius: 30px;">
                    <h3 class="card-title">How This Works</h3>
                    <p class="card-text">
                        <ul>
                            <li>This is merely a homepage for our backend database.</li>
                            <li>Our arcade is dependent on a database, which is deployed on this flask framework.</li>
                            <li>We've used Github to track progress on our arcade and make issues every so often.</li>
                            <li><a href="https://github.com/users/Azeem-Khan1/projects/1" style="color: #f1cc0c;">Here</a> is a link to our scrum board.</li>
                        </ul>
                    </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="background-color: #222222; border-radius: 30px;">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/backendDiagram.jpeg') }}" alt="TripleAJ Logo" style="position: relative; width: 50%; left: 25%; padding: 15px; border-radius: 30px;">
                    <div class="card-body" style="color: white; border-radius: 30px;">
                    <h5 class="card-title">What does the Backend Process look like?</h5>
                    <p class="card-text">
                        <ul>
                            <li>The database stores a player's username (uid), encrypted password, token count, and full name.</li>
                            <li>SQL and SQLAlchemy are used to keep all of the data persistent... meaning that if something were to go wrong with the server or host, then the data would not be lost.</li>
                            <li>The frontend and backend are connected through the use of Javascript's Fetch API, which allows the frontend to call or fetch a backend Flask endpoint.</li>
                            <li>This information that is sent to the backend is considered a request (ie GET, POST). A Python function interprets the request, typically into a setter or getter against an SQL row and provides a response. Examples are user “signs up”, user “login” or game "spending/earning tokens" updates.</li>
                            <li>Our API can be found on the navigation bar above.</li>
                        </ul>
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <style>
        .card {
            opacity: 0.7;
            backdrop-filter: grayscale();
            transition-duration: 0.4s;
        }
        .card:hover {
            opacity: 1
        }
    </style>
{% endblock %}
